body {
    background-color: #111111;
    color: white;
    overflow: hidden;
}

#title {
  position:absolute;
  margin-left: 38rem;
  padding-top: 20px;
    text-align: center;
    line-height: 90%;
    z-index: +1;
}

#bkg {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    margin: auto;
}

#pot {
    margin-left: 5rem;
    height: 100%;
}

.canvas{
  z-index: -1;
  position:absolute;
  margin-left: 564px;
  margin-top: 225px;
}

.upload-btn {
    position: absolute;
    color: transparent;
    background-image: url("src/album.png");
    background-size: 280px;
    margin-top: 14.5rem;
    margin-left: 35.8rem;
    width: 280px;
    height: 280px;
    position: absolute;
    border-radius: 140px;
    z-index: 0;
}
