body {
    background-color: #111111;
    color: white;
    overflow: hidden;
}

#title {
    position: absolute;
    margin-left: 38rem;
    padding-top: 20px;
    text-align: center;
    line-height: 90%;
    z-index: +1;
}

.tag {
    position: absolute;
    text-align: center;
    z-index: +1;
    text-transform: uppercase;
    opacity: 0.6;
    display:none;
}

#tgone {
    position: absolute;
    margin-left: 21.5rem;
    margin-top: 10rem;
}

#tgtwo {
    position: absolute;
    margin-left: 58rem;
    margin-top: 10rem;
}

#ing {
    text-align: right;
    position: absolute;
    width: 20rem;
    height: 18rem;
    margin-left: 10rem;
    margin-top: 17rem;
    line-height: 200%;
    text-transform: capitalize;
}

#heat {
    position: absolute;
    width: 20rem;
    height: 18rem;
    margin-left: 60rem;
    margin-top: 17rem;
    line-height: 200%;
}

#author {
    position: absolute;
    margin-left: 9rem;
    margin-top: 38rem;
    z-index: +1;
    opacity: 0.4;
}

#right {
    position: absolute;
    margin-left: 76rem;
    margin-top: 38rem;
    z-index: +1;
    opacity: 0.4;
    text-align: right;
}

#bkg {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    margin: auto;
}

#pot {
    margin-left: 5rem;
    height: 100%;
}

#re {
    opacity: 0.3;
    border-color: transparent;
    background-color: transparent;
    background-image: url("src/rebtn.png");
    background-repeat: no-repeat;
    background-size: 40px, auto;
    position: absolute;
    margin-left: 43.5rem;
    margin-top: 39rem;
    width: 42px;
    height: 50px;
}

#re:hover {
    opacity: 1;
}

#pic {
    opacity: 0.3;
    border-color: transparent;
    background-color: transparent;
    background-image: url("src/pic.png");
    background-repeat: no-repeat;
    background-size: 35px, auto;
    position: absolute;
    margin-left: 41rem;
    margin-top: 8.7rem;
    width: 40px;
    height: 35px;
}

#pic:hover {
    opacity: 1;
}

#cal {
    opacity: 0.4;
    border-color: transparent;
    background-color: transparent;
    background-image: url("src/cal.png");
    background-repeat: no-repeat;
    background-size: 35px, auto;
    position: absolute;
    margin-left: 9rem;
    margin-top: 1.5rem;
    width: 42px;
    height: 40px;
}

#cal:hover {
    opacity: 1;
}

#set {
    opacity: 0.4;
    border-color: transparent;
    background-color: transparent;
    background-image: url("src/set.png");
    background-repeat: no-repeat;
    background-size: 35px, auto;
    position: absolute;
    margin-left: 78rem;
    margin-top: 1.5rem;
    width: 42px;
    height: 40px;
}

#set:hover {
    opacity: 1;
}

#cam {
    opacity: 0.3;
    border-color: transparent;
    background-color: transparent;
    background-image: url("src/cam.png");
    background-repeat: no-repeat;
    background-size: 40px, auto;
    position: absolute;
    margin-left: 46rem;
    margin-top: 8.4rem;
    width: 42px;
    height: 40px;
}

#cam:hover {
    opacity: 1;
}

.canvas {
    z-index: -1;
    position: absolute;
    margin-left: 564px;
    margin-top: 225px;
}

.upload-btn {
    position: absolute;
    color: transparent;
    background-image: url("src/album.png");
    background-size: 280px;
    margin-top: 15rem;
    margin-left: 36rem;
    width: 280px;
    height: 280px;
    position: absolute;
    border-radius: 140px;
    z-index: 0;
    opacity: 0.35;
}

.upload-btn:hover {
    opacity: 0.8;
}

#rec {
    display:none;
    border: 1.5px solid;
    margin-left: 9.5rem;
    margin-top: 6rem;
    position: absolute;
    width: 200px;
    height: 200px;
    border-color: white;
    z-index: +1;
    text-align: center;
    background-color: black;
}

th,
td {
    border: 1px solid;
    border-color: white;
    opacity :0.4;
}

td:hover {
    opacity :1;
}

#display {
    text-align: left;
    padding-left: 12.5px;
    opacity: 1;
    border: 1.0px solid;
}
